<html>
    <head>
    </head>
    <body>
        <h3>Hello and welcom to Team Nismo hackathon project mobile client!</h3>
        <p>You will now be connected to game {{ gameId }}</p>
    </body>
</html>
