<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script type="text/javascript">
function WebSocketTest(gameId)
{
  if (!("WebSocket" in window)) {
      alert ("AHH websocket not supported");

      return;
  }
     // Let us open a web socket
     window.ws = new WebSocket("ws://"+ window.location.hostname +":8085/");
     ws.onopen = function()
     {
        // Web Socket is connected, setup game()
        ws.send(JSON.stringify({'game': gameId}));
     };
     ws.onmessage = function (evt)
     {
        var message = evt.data;
     };
     ws.onclose = function()
     {
        // websocket is closed go back to game connect
        window.ws = null;
     };
}

function sendit(event) {
    console.log(event);
    if (!window.ws) {
        return;
    }
    ws.send(JSON.stringify(event));
}

if (window.DeviceOrientationEvent) {
    window.addEventListener("deviceorientation", sendit, true);
} else if (window.DeviceMotionEvent) {
    window.addEventListener('devicemotion', sendit, true);
} else {
    window.addEventListener("MozOrientation", sendit, true);
}

</script>
    </head>
    <body>
        <h3>Hello and welcom to Team Nismo hackathon project mobile client!</h3>
        <p>You will now be connected to game {{ gameId }}</p>
        <div id="sse">
            <a href="javascript:WebSocketTest({{ gameId }})">Run WebSocket</a>
        </div>
    </body>
</html>
